body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #256fac;
}

.bg-steel {
  background-color: #5f788a;
}


.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  /* margin-top: 0%; */
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.nav-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.left {
 flex-grow: 2;
}

.right {
  flex-grow: 8;
}
.content-section {
  background: #ffffff;
  padding: 5px 15px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
