<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="{{url_for('signin')}}" method="post">
        <div>
            <label for="name">Email:</label>
            <input type="email" name="email" id="" required>
        </div>

        <div>
            <label for="name">Password:</label>
            <input type="password" name="password" id="" required>
        </div>
    </form>
</body>
</html>